{% extends "base.html" %}
{% block titleBlock %}
Ketan: Real Time Bus Departure !!
{% endblock %}

{% block headBlock %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="http://yourjavascript.com/7174319415/script.js"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>

<script>
    // Ref: http://stackoverflow.com/questions/25706639/django-dependent-select
    $(document).ready(function(){
        $('select#route_list').change(function () {
            var optionSelected = $(this).find("option:selected");
            var valueSelected  = optionSelected.val();
            var route_tag   = optionSelected.text();

		     console.log('route_list select... console');
		     console.log(valueSelected);
             data = {'RT' : valueSelected };
             ajax('/show_directions',data,function(result){
                console.log(result);
                $("#direction_list option").remove();
			    for (var key in result) {
			         $("#direction_list").append('<option value="' + key + '">' + result[key] + '</option>');
			    };

             });
        });
		
        $('select#direction_list').change(function () {
            var optionSelected = $(this).find("option:selected");
            var valueSelected  = optionSelected.val();
            var direction_tag   = optionSelected.text();

		    var routeOptionSelected = $('select#route_list').find("option:selected");
            var routeValueSelected  = routeOptionSelected.val();

		    console.log('direction_list select... console');
		    console.log(valueSelected);
            data = {'RT' : routeValueSelected, 'DT' : valueSelected };
            ajax('/show_stops',data,function(result){

                console.log(result);
                $("#stop_list option").remove();
                for (var i = result.length - 1; i >= 0; i--) {
                    $("#stop_list").append('<option>'+ result[i] +'</option>');
                };
           });
        });

        $('select#stop_list').change(function () {
            var optionSelected = $(this).find("option:selected");
            var valueSelected  = optionSelected.val();
            var stop_tag   = optionSelected.text();

		    var routeOptionSelected = $('select#route_list').find("option:selected");
            var routeValueSelected  = routeOptionSelected.val();

		    var directionOptionSelected = $('select#direction_list').find("option:selected");
		    var directionValueSelected  = directionOptionSelected.val();
		     
		    console.log('stop_list select... console');
		    console.log(stop_tag);
            data = {'RT' : routeValueSelected, 'DT' : directionValueSelected, 'ST' :  stop_tag};
            ajax('/show_predictions',data,function(result){

                console.log(result);
                //$("#prediction").remove();
                $("#prediction").empty();
                if (result.length == 0) {
                    $("#prediction").append('Prediction time not available for selected route at this time!');
                }
                else {
                    $("#prediction").append('Predicted time for vehicles arriving:');
                    for (var i = 0; i<= result.length -1; i++) {
                        $("#prediction").append(result[i]+' minutes ');
                    };
                };
           });
        });
    });
</script>

<script>

// Ref: http://www.w3schools.com/html/html5_geolocation.asp
// Default Location
var lat = 51.50874;
var lng = -0.120850;

function initialize() {
     var loc = new google.maps.LatLng(lat, lng);

     var mapProp = {
         zoom: 15,
         center: loc,
         mapTypeId: google.maps.MapTypeId.ROADMAP
     };
     var map = new google.maps.Map(document.getElementById('googleMap'), mapProp);

     if (navigator.geolocation) {
         navigator.geolocation.getCurrentPosition(function (position) {
             myLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
             map.setCenter(myLocation);
         });
     }
 }

function initialize_OLD() {
  var mapProp = {
    center:new google.maps.LatLng(51.508742,-0.120850),
    zoom:5,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

{% endblock %}

{% block content %}
{% comment %}
<ul>
</ul>
<br/><br/>
{% endcomment %}
Routes: <select name="route_list" id="route_list">

{% for route, route_name in routes.items %}
<option value="{{ route }}">{{ route_name }} </option>
{% endfor %}
</option>
</br>
</select>
</br>
Direction: <select name="direction_list" id="direction_list">
</select>
</br>
Stop: <select name="stop_list" id="stop_list">
</select>
<p id="prediction"></p>
</br></br>
<div id="googleMap" style="width:500px;height:380px;"></div>
{% endblock %}
