{% extends "base.html" %}
{% block titleBlock %}
Real Time Bus Departure !!
{% endblock %}

{% block headBlock %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>

// Ref: http://www.w3schools.com/html/html5_geolocation.asp
// Default Location
var lat1 = 37.7694699;
var lon1 = -122.42941;
var map;

function show_busstops(lat1, lon1, r, map) {
    //alert('lat: ' + lat1 + 'lon: ' + lon1 + 'r: ' + r) 
    data = {'lat' : lat1, 'lon' : lon1, 'r' : r };
    $.ajax({ 
        type: 'GET', 
        url: '/show_nearest_busstops',
        data: {'lat' : lat1, 'lon' : lon1, 'r' : r },
        success: function (result) {
            $("#stop_display").append('Nearest stops:</br>');
            var bus_loc;
            var marker2;
            for (var i = result.length - 1; i >= 0; i--) {
                var stop_info = 'stop_tag: ' + result[i][0]+ ' title: '+ result[i][1] + ' lat: '+ result[i][2] + ' lon: '+ result[i][3]+' stop_Id: '+ result[i][4] + '</br> ';
                var infowindow_content = 'tag: ' + result[i][0]+ ' \ntitle: '+ result[i][1];
                var infowindow_title = 'tag: '+result[i][0];
                $("#stop_display").append(stop_info);
                    
                bus_loc = new google.maps.LatLng(result[i][2], result[i][3]);
                marker2=new google.maps.Marker({
                        position:bus_loc,
                        //map:map
                        {% load staticfiles %}
                        icon:'{% static "DepartureTimesApp/busstop.png" %}',
                        title:infowindow_title
                });
                marker2.setMap(map);
                
                var infowindow = new google.maps.InfoWindow({
                    content:infowindow_content
                    //title:infowindow_title
                });
                
                
                //marker2.addListener('click', function() {
                    infowindow.open(map,marker2);
                //}
                
            };
            
        }
    });
}

function initialize() {
    var loc = new google.maps.LatLng(0, 0);

    var mapProp = {
        zoom: 15,
        center: loc,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById('googleMap'), mapProp);
    lat1 = {{ lat }};
    lon1 = {{ lon }};
    
    if (lat1==0 and lat2==0) {
        var marker=new google.maps.Marker({
            position:loc,
        });
        marker.setMap(map);
    }
    else {
    
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                lat1 = position.coords.latitude;
                lon1 = position.coords.longitude;
                myLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                map.setCenter(myLocation);
             
                var marker=new google.maps.Marker({
                    position:myLocation,
                });
                marker.setMap(map);
             
            });
        }
    }
    show_busstops(lat1, lon1, 0.2, map);
}


function initialize_test() {
    
    var loc = new google.maps.LatLng(lat1, lon1);

    var mapProp = {
        zoom: 18,
        center: loc,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById('googleMap'), mapProp);

    var marker=new google.maps.Marker({
        position:loc,
    });
    marker.setMap(map);

    show_busstops(lat1, lon1, 0.2, map);
}
google.maps.event.addDomListener(window, 'load', initialize_test);
</script>

{% endblock %}

{% block content %}
{% comment %}
<ul>
</ul>
<br/><br/>
{% endcomment %}
Routes: <select name="route_list" id="route_list">

{% for route, route_name in routes.items %}
<option value="{{ route }}">{{ route_name }} </option>
{% endfor %}
</option>
</br>
</select>
</br>
Direction: <select name="direction_list" id="direction_list">
</select>
</br>
Stop: <select name="stop_list" id="stop_list">
</select>
<p id="prediction">{{ lat }} {{ lon }}</p>
<p id="stop_display"></p>
</br></br>
<div id="googleMap" style="width:500px;height:380px;"></div>
{% endblock %}
